<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="fst-italic">FastAPI Boilerplate</span>
      <i class="fa-regular fa-hospital ms-2"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <a
          class="navbar-brand offcanvas-title"
          id="offcanvasNavbarLabel"
          href="/"
        >
          <span class="fst-italic">FastAPI Boilerplate</span>
          <i class="fa-regular fa-hospital ms-2"></i>
        </a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul
          class="navbar-nav justify-content-end flex-grow-1 pe-3 list-group list-group-flush"
        >
          {% for i in menu %}
          <li class="nav-item list-group-item">
            <a class="nav-link" href="{{ i['link'] }}">
              {{ i["icon"] | safe }}{{ i["text"] }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="mb-5"></div>
