{% extends "base.html" %}
{% block apps %}
{% if err["code"] == 429 and request.cookies.get("x-access-token") %}
  {%include "components/navbar.html"%}
{% endif %}
<div class="container pt-4">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center" style="max-width: 300px; min-width: 250px">
      <h5 class="card-header font-monospace">{{ err["code"] }}</h5>
      <div class="card-body">
        <p class="card-text">{{ err["msg"]}}</p>
        {% if err["code"] == 404 %}
        <a href="/" class="btn btn-primary">Back to Home</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
